<h1>{{pokeName}}</h1>
<img src={{pokeImg}}>

<h2>Type</h2>
{{#each pokeType}}
  <li>{{this}}</li>
{{/each}}

<h2>Stats</h2>
{{#each pokeStats}}
  <li>{{@key}}: {{this}}</li>
{{/each}}

<a href="/pokemon">Back to List of Pokemon</a>
