<h1>{{pokeName}}</h1>
<img src={{pokeImg}}>

<h2>Type</h2>
{{#each pokeType}}
  <li>{{this}}</li>
{{/each}}

<h2>Stats</h2>
{{#each pokeStats}}
  <li>{{@key}}: {{this}}</li>
{{/each}}

<form action="/pokemon/index/{{id}}?_method=DELETE" method="POST">
  <input class="delete-button" type="submit" value="Delete">
</form>

<a href="/pokemon">Back to List of Pokemon</a>
